<mat-toolbar class="toolbar">
  <span class="app" (click)="navigateTo('/')">O</span>

  <div class="toolbar-menu">
    <ng-template #anonymouseUser>
      <button mat-button (click)="navigateTo('/login')">Login</button>
    </ng-template>
    <button
      *ngIf="appUser; else anonymouseUser"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      {{ appUser.name }}
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
      <button mat-menu-item (click)="navigateTo('/my-orders')">
        My Orders
      </button>
      <ng-container *ngIf="appUser?.isAdmin">
        <button mat-menu-item (click)="navigateTo('/manage-orders')">
          Manage Orders
        </button>
        <button mat-menu-item (click)="navigateTo('/manage-products')">
          Manage Products
        </button>
      </ng-container>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <button
      mat-icon-button
      aria-label="Example icon-button with share icon"
      (click)="navigateTo('/shopping-cart')"
    >
     
        <mat-icon [matBadge]="totalItemsCount" matBadgeColor="warn" (click)="onClick()"
          >shopping_cart</mat-icon
        >
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a shopping_cart icon with overlaid badge showing the number 
        </span>
     
    </button>
  </div>
</mat-toolbar>
