<div class="shopping-cart">
  <h1>Shpping Cart</h1>
  <div class="clear-cart">
    <p>You have {{ totalItemsCount }} items in your cart</p>
  <button *ngIf="cartItems.length" (click)="clearCart()" mat-raised-button color="basic">Clear Cart</button>
  </div>
  <table class="table" *ngIf="cartItems.length">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <img [src]="item.product.imageUrl" alt="" class="thumbnail">
        </td>
        <td>
          {{ item.product.title }}
        </td>
        <td><product-quantity [product]="item.product" [shoppingCart]="cart"></product-quantity></td>
        <td>{{ item.totalPrice | currency : "USD" : true }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ totalprice | currency : "USD" : true }}</th>
      </tr>
    </tfoot>
  </table>
  
  <button *ngIf="cartItems.length" (click)="checkout()" mat-raised-button color="primary">Check Out</button>
</div>
