<div class="products">
  <div class="category sticky-category">
    <mat-card (click)="onCardClick('all')" [ngClass]="{'selected-card': selectedCategory === null}" >
      <mat-card-content>All Categories</mat-card-content>
    </mat-card>
    <mat-card
      *ngFor="let category of categories$ | async"
      (click)="onCardClick(category.name)"
      [ngClass]="{ 'selected-card': selectedCategory === category.name }"
    >
      <mat-card-content> {{ category.name }}</mat-card-content>
    </mat-card>
  </div>
 
  <div class="product-cards">
   <ng-container  *ngFor="let productItem of products" >
    <product-card [product]="productItem" [shoppingCart]="cart"></product-card>
   </ng-container>
  </div>  
</div>
